<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>QiitaSearch</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <p>
      <input type="text" 　v-model="keyword">
    </p>
    <p>
      {{ message }}
    </p>
    <ul>
      <li v-for="item in items">
        <a v-bind:href="item.url" target="_blank">{{ item.title }}</a> likes: {{ item.likes_count }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>